.about-site {
    width: 100%;
    display: flex;
    background: #c7ece9;
    .container {
        width: 1200px;
        display: flex;
        align-items: center;
    }
    .about-site-wrapper {
        p {
            color: var(--main-color);
            font-size: 16px;
        }
    }
    .left {
        width: 60%;
    }
    .right {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        .thumbnail {
            width: auto;
            height: 350px;
        }
    }
}