header {
    line-height: 1.5;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    background: #2f4863;
    z-index: 999;
    .container {
        display: flex;
        height: var(--header-height);
        align-items: center;
        justify-content: space-between;
    }
}
.logo {
    display: block;
}
.menu {
    nav {
        width: 60%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        a {
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            font-size: 16px;
            padding: 8px 12px;
            border-radius: 4px;
            transition: all 0.3s ease;
            &:hover {
                background: #f0f0f0;
            }
        }
    }
}